extends base


block body
  h1 Implementing Secure Software "Monopoly"
  p.
    Please Login here
    <a href="/register">register</a> or
    Register if you're not a Member <a href="/login">login</a>
